In [17]:
import mysql.connector as connector
connection = connector.connect(db='littlelemon', user='ayush', password='facebook')

In [18]:
cursor = connection.cursor()
show_tables_query = "SHOW tables" 
result = cursor.execute(show_tables_query)
print(result)

None

In [19]:
tables = cursor.fetchall()
for table in tables:
    print(table[0])

booking
customer
menu
menuitem
orderdelivery
orders
ordersview
staff

In [22]:
joinQuery = '''
select 
c.CustID, FullName, o.OrderID, mi.Cost, MenuName, Cuisine
from orders as o
join orderdelivery as od on o.OrderID = od.OrderID
join menu as m on od.MenuID = m.MenuID
join menuitem as mi on m.MenuItemsID = mi.MenuItemsID
join booking as b on o.BookingID = b.BookingID
join customer as c on b.CustID = c.CustID
where cost > 60
order by cost desc;
'''

cursor.execute(joinQuery)
customers = cursor.fetchall()

In [24]:
print('for my database')
print('customer orders over $ 60')

for customer in customers:
    print(customer[0], customer[1], customer[2], customer[3], customer[4], customer[5])

for my database
customer orders over $ 60
3 Chris Gummer 2 235 Pizza Italian
2 Tira Misu 3 235 Pizza Italian
2 Tira Misu 3 210 Shawarma Turkish
1 Laney Fadden 1 125 Pizza Greek
2 Tira Misu 3 125 Pizza Greek